#before {
   border: solid 10px red;
   color: blue;
   width: 200px;
   height: 100px;
   position: fixed;
   left: 8px;
   top: 8px;
}

#content {
   border: solid 10px blue;
   color: blue;
   width: 200px;
   height: 100px;
   position: absolute;
   left: 228px;
   top: 248px;
}

#after {
   border: solid 10px green;
   color: blue;
   width: 200px;
   height: 500px;
   position: absolute;
   left:8px;
   top:128px;
}
