/* Variables in CSS */
:root {
  --main-color: blue;
  --main-bg-color: yellow;
  --my-grey-color: rgb(150,150,150);
  --my-weird-color: rgb(50,100,150);
  --my-h2-color: rgb(34,56,67);
}

/* element selectors */
p {
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

a {
  color: var(--my-grey-color);
}

ul {
  font-style: oblique;
  font-family: monospace;
}

h2 {
  color: var(--my-weird-color);
  font-family: sans-serif;
}

/* class selector */
.footnote {
  color: red;
}

/* ID selector */
#footnote-1 {
  color: green;
}

/* descendent selector - direct */
h2 em {
  color: magenta;
}

/* descendent selector - cascading */
h2 > em {
  color: var(--my-h2-color);
}

/* pseudo-class selector */
/*
:hover {
  color: cyan;
}
*/
