/* Give the page some color! */


:root {
   --header-color: white;
   --font-color: #777777;
   --bg-color: #0b1857;
}

body {
   color: var(--font-color);
   background-color: var(--bg-color);
   font-family: Arial, sans-serif;
}

h1 {
  color: var(--header-color);
  font-size: 3rem;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}

h2 {
  color: var(--header-color);
  font-size: 2.5rem;
  font-variant: small-caps;
}


/* Observations - links do not look good! */

a:link {
   color: var(--font-color);
}

a:visited {
   color: var(--font-color);
}

a:hover {
   color: yellow;
}

a:active {
   color: purple;
}


/* Improve the look of the navigation area */

header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: auto;
}

nav {
   text-align: center;
   margin-top: 0px;
   grid-area: nav;
   position: relative;
   z-index: 3;
   background-color: #0b1857;
}

nav a {
   text-decoration: none;
   text-transform: lowercase;
   font-weight: bold;
   font-size: larger;
   margin-left: 10px;
   margin-right: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  tex-align: center;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

/* Make it so that the band member info comes beside the band member images */

.band-members {
  float: left;
  clear: both;
}

#header-background {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 1000px;
  height: 500px;
  background-color: #0b1857;
}

#members ul {
  float: left;
}

#members {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 480px;
  z-index: 1;
}

#concerts {
  position: absolute;
  left: 500px;
  top: 480px;
  z-index: 1;
  width: 500px
}

#contact {
  position: absolute;
  left: 500px;
  top: 780px;
  z-index: 1;
  width: 500px;
}

/* Adjust the spacing/padding/margins */

section {
  margin-top: 40px;
  margin-left: 20px;
}

#members img {
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-left: 75px;
  margin-right: 75px;
  width: 90%;
}

td {
  padding: 10px;
}

/* Align wireframes as in our original idea */

.my-sections {
  float: left;
}
