body {
   background: black;
   font-size: 2em;
   text-align: center;
   width: 700px;
}

header {
   background: cornflowerblue;
   line-height: 60px;
}

nav {
   background: khaki;
   line-height: 50px;
}

article {
   background: darkseagreen;
   line-height: 180px;   
}

aside {
   background: goldenrod;
   line-height: 180px;
}

section {
   background: lightsteelblue;
   line-height: 90px;
}

footer {
   background: lemonchiffon;
   line-height: 40px;
}

